body {
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.bkg {
    background-color: #ececec;
}

.card {
    width: 450px;
    height: 400px;
    margin: auto;
    padding-top: 2rem !important;
    border-radius: 5px;
}

.circle {
    display: block;
    text-align: center;
    font-size: 50px !important;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin: 0 auto;
    color: #fff;
    background: #f87831;
    line-height: 80px;
}

.forget {
    text-align: left;
    color: #f87831;
    font-weight: 900;
    padding: 20px 0;
    margin-left: 20px;
    margin-bottom: -0.5rem;
}

.txt1 {
    color: #696969;
    line-height: 1.9;
    text-align: center;
    font-weight: 700;
}

.txt2 {
    color: #696969;
    line-height: 1.9;
    text-align: center;
    font-weight: 400;
}

.btn1 {
    background: #e6e6e6;
    width: 130px;
    height: 35px;
    display: block;
    text-align: center;
    color: #333;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
}

.btn2 {
    background: #163c81;
    width: 130px;
    height: 35px;
    display: block;
    text-align: center;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
}

.svg1 {
    margin-bottom: 27px;
}