<div class="logos">
    <div style="float: left; margin-top: 10px">
        <p style=" padding: 5px; margin: 0px;">
            <i class="fa fa-facebook-square for-mrg-icon" style="color:blue;margin-left:10px"></i>
            <i class="fa fa-twitter for-mrg-icon" style="color: #60609f "></i>
            <i class="fa fa-linkedin-square for-mrg-icon" style="color: #454568 "></i>
            <i class="fa fa-youtube-play for-mrg-icon" style="color:red"></i>
            <i class="fa fa-instagram for-mrg-icon" style="color:#454568"></i>
            <span>| Last Login Time : {{LastLoginTime}}</span>
        </p>
    </div>
    <div style="float:right;margin-right:20px;margin-top:13px">
        <p><small>Tollfree : 1800 419 5051  |  Help  |  Download  |  Chat  |  Query  </small></p>
    </div>
</div>

<footer class="footer">
    <span>
        *Mutual Fund & NPS investments are subject to market risks and there is no assurance and guarantee that investment     objective <br /> shall be achieved. Please read all scheme related documents carefully before investing.
    </span>
    <br />
    <br />
    <span>
        Prudent Corporate Advisory Services Ltd, makes no warranties or representations, express or implied, on products offered through fundzBazar.com it accepts no liability for any damages or losses, however caused in connection with the use of, or on the reliance of it's <br /> product or related services. Terms and conditions of the wetisits are applicatie Copyright 2017 Prudent Corporate Advisory Services Ltd.
    </span>
</footer>