<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class=" for-navbar-flex " style="height: 96px;">
    <div>
        <img class="fund-logo" src="/assets/img/fundzbazarlogo.svg" alt="Fundbazar logo" style="float:left" />
    </div>
    <div class="for-link-flex">
        <!--<ul class="for-link-flex">-->

        <button class="for-signout" (click)="forSession()" [routerLink]="['']"> <i class="fa fa-sign-out" style="color:white"></i><span>&nbsp;Logout</span></button>

    </div>
</div>
