<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>



    <div class="row">
        <div class="column shadow">
            <div class="image-round">
                <img src="/assets/img/forgetpwd.png" />
            </div>
            <ul>
                <li>1.Login Passwords expire every 180 days.</li>
                <li>2.Login Password lengths should be 8-25 alpha-numeric characters.</li>
                <li>3.Login Password must contain a combination of alphabet, number and special character.</li>
                <li> 4.Last three lapsed passwords are not allowed as new passwords.</li>
                <li>5.Login Password & User-ID cannot be same.</li>
                <li>6.Login password cannot be the same as Broking.</li>
            </ul>
            <!--<button (click)="onclick()">show</button>-->

        </div>
        <ng-container>
            <div class="column1 shadow">
                <img src="/assets/img/icons8-forgot-password-96.png" />
                <h4> Set New Password</h4>


                <form #frmRegister="ngForm">
                    <input [(ngModel)]="Email" #ema="ngModel" name="ema" class="form-control" value="{{Email}}" disabled />


                    <input type="password" [(ngModel)]="Password" #pass="ngModel" name="pass" placeholder="New Password" class="form-control" required pattern="(^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,12}$)" />
                    <div *ngIf="(frmRegister.submitted && pass.errors?.required)||(pass.errors?.required && pass.touched)" class="text-danger">Password is required</div>
                    <div *ngIf="(pass.errors?.pattern)" class="text-danger">Enter Valid Password</div>

                    <input type="password" [(ngModel)]="ConfirmPassword" #confirmpass="ngModel" name="confirmpass" placeholder="Confirm Password" required class="form-control" />
                    <div *ngIf="(frmRegister.submitted && confirmpass.errors?.required)||(confirmpass.errors?.required && confirmpass.touched)" class="text-danger">Confirm Password is required</div>
                    <div *ngIf="confirmpass.dirty && Password !== ConfirmPassword" class="text-danger" style="margin-left:50px">Password not match</div>
                    <br />

                    <div class="btns">
                        <div class="btn-cancel">
                            <button [routerLink]="['/']">Cancel</button>
                        </div>
                        <div class="btn-submit">
                            <button (click)="ForgetPass(frmRegister)" [disabled]="hideform">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </ng-container>
    </div>
    <!--    ////////////////////////////////////////////////////////////////-->
    <div class="bkg">
        <div class="card shadow successpass" *ngIf="Approval">
            <div class="card">
                <span class="circle">
                    <img src="/assets/img/ApprovalIcon.png" />
                </span>
                <div class="Successstatus">
                    <h4>
                        Success
                    </h4>
                </div>
                <div class="txt2">
                    <span>
                        Your Password has been Set Successfully...
                    </span>
                </div>
                <div class="btn-div">
                    <button class="btn2" [routerLink]="['/']"> Sign In </button>
                </div>
            </div>
        </div>
    </div>
    <div class="bkg">
        <div class="card shadow successfail" *ngIf="Rejected">
            <div class="card">
                <span class="circle">
                    <img src="/assets/img/icons8-rejected-100.png" />
                   
                </span>
                <div class="Successstatus">
                    <h4>
                        Failed..!
                    </h4>
                </div>
                <div class="txt2">
                    <span>
                        Your Password Can't be changed..!
                        <br />
                        <span style="color:red">You can't use old previous three password..!!</span>
                    </span>
                </div>
                <div class="btn-div">
                    <button (click)="goback()" class="btn2"> Cancel </button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>