<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<app-loader *ngIf="loading"></app-loader>
<div style="height: 500px; width: 100%; padding-top: 20px;" class="bkg" [hidden]="ForHide1">
    <div class="card shadow">
        <div class="card-body">
            <span class="circle">
                <img src="/assets/img/lock.ico" style="margin-bottom:33px" />
            </span>
            <div class="forget">
                <h4>
                    Forget Password
                </h4>
            </div>
            <div class="txt1">
                <p name="checkname" #checkname="ngModel"
                   [(ngModel)]="chkname">{{chkname}}</p>
            </div>
            <div class="txt2">
                <span>
                    Please enter OTP you received in registered <br />
                    Mobile and Email
                </span>
            </div>
            <form #fogPass="ngForm">
                <div style="margin-top:15px;">
                    <input type="number" placeholder="Enter OTP" class="form-control" style="width:350px;margin:auto;" onkeypress="if (this.value.length == 6) return false;" required
                           name="otp1" #otp1="ngModel" [(ngModel)]="fotp" />
                    <input type="number" placeholder="Enter OTP" class="otp-input" name="chkemail" #chkemail="ngModel"
                           [(ngModel)]="chkemailotp" [hidden]="true"
                           onkeypress="if (this.value.length == 6) return false;" />
                    <div *ngIf="(fogPass.submitted && otp1.errors?.required)||
                             (otp1.errors?.required && otp1.touched)" class="text-danger">
                        <small style="margin-left:30px">OTP is required</small>
                    </div>


                </div>

                <div style="width:100%;margin-top:18px">
                    <div style="width:50%;float:left;margin-left:30px">
                        <button class="btn1"> Cancel </button>
                    </div>

                    <div style="width: 30%; float: right;margin-right:38px">
                        <button class="btn2" (click)="tonewpass()"> Submit </button>
                    </div>
                </div>
            </form>
                    <!--<button class="btn-resend" (click)="EnableEmailReOtp()" [disabled]='!dislock'>Resend </button>-->
            <!--<div style="width:100%;margin-top:18px">
                <div style="width:50%;float:left;margin-left:30px">
                </div>
                
            </div>-->
        </div>
    </div>
</div>
<app-forgot-password_third [UserEmail]="ForUserEmail" *ngIf="Show_third_page"></app-forgot-password_third>

