<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<div class="container for-flex">

    <div>
        <img src="/assets/img/prudent_footer_left_logo.png" alt="prudent logo" />
    </div>
    <div class="mid-text">
        <p class="mid-p-tag">* Mutual Fund investments are subject to market risks. Please read all scheme related documents carefully before investing.</p>
        <p class="mid-p-tag for-text-indent">
            Prudent Corporate Advisory Services Ltd. (ARN-9992) makes no warranties or representations, express or implied, on products offered through FundzBazar.com.
            It accepts no liability for any damages or losses, however caused, in connection with the use of, or on the reliance of its product or related services.
            Terms and conditions of the website are applicable. Copyright © 2016 Prudent Corporate Advisory Services Ltd.
        </p>
    </div>
    <div>
        <span class="pruit-text"><small>Designed &amp; Developed by</small></span>
        <img src="/assets/img/pru_it_right_logo.png" alt="Pruit logo" class="pruit-logo" />

    </div>

</div>