<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<!--sideNav-->

<nav class="main-nav ">

    <button class="nav-btn" [routerLink]="['/KycAdminDashboard']">
        <i class="fa fa-home"></i>
        <br /><span class="text-nav">Dashboard</span>
    </button>

    <hr />

    <button class="nav-btn" [routerLink]="['']">
        <i class="fa fa-sign-out"></i>
        <br /><span class="text-nav">Logout</span>
    </button>

    <hr />


</nav>